= content_for(:title) do
  = @video.title
= content_for(:head) do
  %meta{:property => "og:title", :content => @video.title}
  %meta{:property => "og:description", :content => @video.description}
  -# NB: THIS WON'T WORK WITH RAIL ASSET HOSTS
  %meta{:property => "og:image", :content => "http://4cceba3b.ngrok.com#{@video.image.url(:video)}"}
  %link{:rel => "canonical", :href => posts_video_url(@video)}
%h2= @video.title
.row
  .col-xs-12.col-sm-6.col-md-9
    .details.clearfix
      .author.pull-left
        Posted by
        %a{href: user_path(@video.user)}
          %b= @video.user.first_name
        - if current_user && current_user != @video.user
          -if current_user.following?(@video.user) 
            = link_to unfollow_user_path(@video.user), :class => "btn btn-primary follow-user", method: 'post', remote: true do
              %i.fa.fa-users
              Following
          - else
            = link_to follow_user_path(@video.user), :class => "btn btn-primary follow-user", method: 'post', remote: true do
              %i.fa.fa-users
              Follow
      .stats.pull-right
        .views
          %i.fa.fa-eye.fa-3x
        .views_count
          = @video.post_views.count
        .like
          = link_to like_posts_video_path(@video), method: 'post', remote: true do
            %i.fa.fa-thumbs-up.fa-3x
        .like_count
          = @reputation
        .dislike
          = link_to unlike_posts_video_path(@video), method: 'post', remote: true do
            %i.fa.fa-thumbs-down.fa-3x
        .favorite
          - if current_user && @video.favorized_by?(current_user)
            = link_to remove_from_favorites_posts_video_path(@video), :class => "favorite-post", method: 'post', remote: true do
              %i.fa.fa-heart.fa-3x
          - else
            = link_to add_to_favorites_posts_video_path(@video), :class => "favorite-post", method: 'post', remote: true do
              %i.fa.fa-heart.fa-3x
    .video-container
      %iframe{width: "620", height: "470", frameborder: "0", src: @video.video_embed_url}
    .share-buttons.text-center
      = render partial: "shared/share_buttons", locals: { video: @video }
    %p= @video.description.html_safe
  .col-xs-6.col-md-3
    = render partial: "shared/small_post_pod", :collection => @related_videos, :as => :video