- require 'action_view'
!!!
%html
  %head
    = render "shared/head"
  %body
    %header
      = render "shared/header"
    #content
      = render "shared/content"
    %footer
      = render "shared/footer"
    = render "shared/scripts"